html {
  background-color: #000000;
}

.hero {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  width: 80px;
}

.cuadrado1 {
  width: 600px;
  height: 100px;
  background: #000000;
  color: #eeeeee;
  margin-left: auto;
  margin-right: auto;
  align: right;
}

.cuadrado2 {
  width: 600px;
  height: 600px;
  background: #000000;
  color: #eeeeee;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
}

.cuadrado3 {
  width: 600px;
  height: 100px;
  background: #000000;
  color: #eeeeee;
  margin-left: auto;
  margin-right: auto;
}

.cuadrado1 {
  width: 600px;
  height: 100px;
  background: #000000;
  color: #eeeeee;
  margin-left: auto;
  margin-right: auto;
  align: right;
}

.cuadrado2 {
  width: 600px;
  height: 600px;
  background: #000000;
  color: #eeeeee;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
}

.cuadrado3 {
  width: 600px;
  height: 100px;
  background: #000000;
  color: #eeeeee;
  margin-left: auto;
  margin-right: auto;
}

#hero-container {
  display: flex;
  height: 20%;
  /* background-color: blue; */
  align-items: center;
  justify-content: center;
}

#enemies-container {
  /* background-color: red; */
  align-items: center;
  display: flex;
  height: 80%;
  justify-content: center;
  flex-direction: column;
}

.enemy {
  display: flex;
  width: 50px;
  height: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.die {
  display: flex;
  width: 50px;
  height: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.die img {
  width: 0px;
  height: 0px;
}

.enemy img {
  width: 50px;
}

.enemy-row {
  display: flex;
}
.enemy-row div {
  margin: 15px;
}

.bullet {
  width: 10px;
  height: 25px;
  background-color: #ed634c;
  position: absolute;
}

#start-game {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ed634c;
  height: 100%;
  cursor: pointer;
}

#gameinfo div {
  display: flex;
}

.lifes img {
  width: 60px;
}
