body,
html {
  height: 100%;
  background-color: #595959;
}
#container {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate {
  transform: rotate(180deg);
}

.rotate .board-square div {
  transform: rotate(180deg);
}

.board {
  background: #98473e;
  width: 48em;
  height: 48em;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.board-square {
  flex: 1 0 21%;
  height: 96px;
  width: 80px;

  flex: 0.8 0 12%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  /* border-style: solid; */
}

.white {
  background-color: #cebfa1;
}

.black {
  background-color: #a9937b;
  color: #fff;
}

.pice-white {
  color: #ffffff;
  font-size: 50px;
}

.pice-black {
  color: #303030;
  font-size: 50px;
}

.side-container {
  height: 88%;
  width: 14em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.tookpices {
  height: 88%;
  width: 14em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.tookpices div {
  height: 5em;
  width: 100%;
  flex: 1 0 21%;
  flex-wrap: wrap;
  display: flex;
}

.tookpices .rotate,
div.tookpices.rotate > div {
  transform: rotate(180deg);
}
